h1 {font-family: "Courier New", Courier, monospace; font-size: 24px; font-weight: bold;}
h2 {font-family: "Courier New", Courier, monospace; font-size: 20px; font-weight: bold;}

body {background-color:#ffffff;color:#000000;margin:0%;padding:0%;font-family: "Courier New", Courier, monospace; font-size: 18px;}

body {
    background-image: url("/images/footer_lodyas.png");
}

.roundcorner {
	border-radius: 15px;
	background: #FFFFFF;
	margin: 10%; padding: 5%;
}

a:link {
	color: #CC0000;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}