h1 {font-family: Arial, Helvetica, sans-serif; font-size: 20px; font-weight: bold;}
h2 {font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-weight: bold;}

body {background-color:#ffffff;color:#000000;margin:0%;padding:10%;font-family: Arial, Helvetica, sans-serif; font-size: 14px;}

