h1 {font-family: Verdana, Arial, sans-serif; font-size: 16px; font-weight: bold;}
h2 {font-family: Verdana, Arial, sans-serif; font-size: 14px; font-weight: bold;}

body {background-color:#ffffff;color:#000000;margin:25%;padding:10%;font-family: Verdana, Arial, sans-serif; font-size: 12px;}