h1 {font-family: "Courier New", Courier, monospace; font-size: 24px; font-weight: bold;}
h2 {font-family: "Courier New", Courier, monospace; font-size: 20px; font-weight: bold;}

body {background-color:#ffffff;color:#000000;margin:0%;padding:10%;font-family: "Courier New", Courier, monospace; font-size: 18px;}

