


.roundcorner{
	margin-top: 5%;
}

#title {
	font-size: 72px; 
	text-align: center;
	color: #FFFFFF;
	margin: 5%;
}

.center {
	display: block;
	margin: 0 auto;
}

.hometext {
	text-align: center;
	font-size: 24px;
}